body{
    margin: 0px;
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    border-bottom: solid black 1px;
    height: 100px;
    opacity: 100%;
    background-color: white;
}
@media (max-width: 500){
    .topImage{
        margin-top: 100px;
    }
}
.navContent{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 2em;
    text-decoration: none;
    user-select: none;
}

.navContent:hover{
    text-decoration: underline;
    transform: scale(1.1);
    transition: transform 0.1s;
}
#navLogo{
    margin-left: 25px;
    height: 100px;
    width: auto;
    display: none;
}
#contact{
    margin-right: 5%;
}
#hjem{
    margin-left: 5%;
}
#frontImage{
    width: 100%;
    height: auto;
}
.headline{
    font-size: 4em;
}
#middle{
    margin-right: 15%;
    margin-left: 15%;
}
.text{
    font-size: 2em;
    line-height: 1.5;
}
img{
    width: 33%;
    height: auto;
}
#images{
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}
.footer{
    width: 100vw;
    position: relative;
    background-color: blue;
    text-align: center;
    color: white;
    bottom: 0;
    z-index: -1;
    height: 30px;
    font-size: 1em;
    
}
.footlink {
    text-decoration: none;
    color: white;
}
