body{
    margin: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    border-bottom: solid black 1px;
    height: 100px;
    opacity: 100%;
    background-color: white;
}
.navContent{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 2em;
    text-decoration: none;
    user-select: none;
}
.navContent:hover{
    text-decoration: underline;
    transform: scale(1.1);
    transition: transform 0.1s;
}
#navLogo{
    margin-left: 25px;
    height: 100px;
    width: auto;
    display: none;
}
#contact{
    margin-right: 5%;
}
#hjem{
    margin-left: 5%;
}
#toTop{ 
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: 75%;
    user-select: none;
    display: none;
}
#toTop:hover{
    background-color: #660000;
    opacity: 100%;
}


.calendar {
    margin-top: 101px;
    
}  
.form {
    margin-left: 15px;
    font-size: 25px;
    
}
.hei{
    font-size: 4em;
}
.footer{
    width: 100%;
    position: relative;
    background-color: blue;
    text-align: center;
    color: white;
    bottom: 0;
    z-index: -1;
    height: 50px;
    font-size: 20px;
}
.footlink {
    text-decoration: none;
    color: white;
}
