body{
    margin: 0px;
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    border-bottom: solid black 1px;
    height: 100px;
    opacity: 100%;
    background-color: white;
}
.navContent{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 2em;
    text-decoration: none;
    user-select: none;
}
.navContent:hover{
    text-decoration: underline;
    transform: scale(1.1);
    transition: transform 0.1s;
}
#navLogo{
    margin-left: 25px;
    height: 100px;
    width: auto;
    display: none;
}
#contact{
    margin-right: 5%;
}
#hjem{
    margin-left: 5%;
}
#table{
    margin-right: 15%;
    margin-left: 15%;
    position: absolute;
    margin-top: 150px;
    width: 70%;
}
.staffImage{
    height: 16%;
    width: auto;
}
.tableText{
    font-size: 2em;
    text-align: center;

}
.tableHeader{
    width: 250px;
}
.footer{
    width: 100%;
    position: relative;
    background-color: blue;
    text-align: center;
    color: white;
    bottom: 0;
    z-index: -1;
    height: 50px;
    font-size: 1em;
}
.footlink {
    text-decoration: none;
    color: white;
}
